<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Sleeper Depth Chart</title>
    </head>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Site Header -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Sleeper Utilities</span>
    </nav>

    <!-- div for a bootstrap input group with a league id text input and submit button -->
    <div class="container">
        <form method="post">
            <div class="input-group-prepend my-3">
                <span class="input-group-text" id="basic-addon1">League ID</span>
                <input type="text" class="form-control" name="id" placeholder="League ID" value="{{ request.form['id'] }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Submit</button>
                </div>
            </div>
        </form>

    <!-- div for a table that displays the owner_id and all positions from the rosters object-->
    {% if rosters %}
    <div class="container">

        <!-- div for a heading that displays the given ID -->
        {% if league_name %}
        <div>
            <h1>{{ league_name }}</h1>
        </div>
        {% endif %}

        <table class="table">
            <thead>
                <th>Owner ID</th>
                <th>QBs</th>
                <th>RBs</th>
                <th>WRs</th>
                <th>TEs</th>
                <th>Ks</th>
                <th>DEFs</th>
            </thead>
            {% for roster in rosters %}
            <tr>
                <!--
                code to get the z-score for each position. I don't like the ranks I'm using so I won't be using this for now.
                {% set qb_avg, qb_stdev = stats.qb %}
                {% set qb_score = (qb_avg - roster.avg_qb_rank) / qb_stdev %}
                {% set rb_avg, rb_stdev = stats.rb %}
                {% set rb_score = (rb_avg - roster.avg_rb_rank) / rb_stdev %}
                {% set wr_avg, wr_stdev = stats.wr %}
                {% set wr_score = (wr_avg - roster.avg_wr_rank) / wr_stdev %}
                {% set te_avg, te_stdev = stats.te %}
                {% set te_score = (te_avg - roster.avg_te_rank) / te_stdev %}
                -->

                <td>{{ roster.owner_id }}</td>
                <td>
                    {% for qb in roster.player_objects|selectattr('position', 'equalto', 'QB') %}
                        {% if qb['player_id'] in roster.starters %}
                            <b>{{ qb['full_name'] }}</b><br>
                        {% else %}
                            {{ qb['full_name'] }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for rb in roster.player_objects|selectattr('position', 'equalto', 'RB') %}
                        {% if rb['player_id'] in roster.starters %}
                            <b>{{ rb['full_name'] }}</b><br>
                        {% else %}
                            {{ rb['full_name'] }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for wr in roster.player_objects|selectattr('position', 'equalto', 'WR') %}
                        {% if wr['player_id'] in roster.starters %}
                            <b>{{ wr['full_name'] }}</b><br>
                        {% else %}
                            {{ wr['full_name'] }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for te in roster.player_objects|selectattr('position', 'equalto', 'TE') %}
                        {% if te['player_id'] in roster.starters %}
                            <b>{{ te['full_name'] }}</b><br>
                        {% else %}
                            {{ te['full_name'] }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for k in roster.player_objects|selectattr('position', 'equalto', 'K') %}
                        {% if k['player_id'] in roster.starters %}
                            <b>{{ k['full_name'] }}</b><br>
                        {% else %}
                            {{ k['full_name'] }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for def in roster.defs %}
                        {% if def in roster.starters %}
                            <b>{{ def }}</b><br>
                        {% else %}
                            {{ def }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

</html>